<div class="footer bg-1 pt-2 pb-2">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col text-center">
                <a href="">
                    <i class="fas fa-camera"></i>
                    <div><small>фото</small></div>
                </a>
            </div>
            <div class="col text-center">
                <a href="">
                    <i class="fas fa-cogs"></i>
                    <div><small>меню</small></div>
                </a>
            </div>
            <div class="col text-center">
                <a routerLink="/catalog">
                    <i class="fas fa-table"></i>
                    <div><small>каталог</small></div>
                </a>
            </div>
            <div class="col text-center">
                <a routerLink="/profile">
                    <i class="fas fa-address-book"></i>

                    <div><small>профиль</small></div>
                </a>
            </div>
        </div>
    </div>
</div>
