<!--The content below is only a placeholder and can be replaced.-->


<header class="container">

    <!--<nav class="nav">-->
        <!--<a class="nav-link active" href="#">Active</a>-->
        <!--<a class="nav-link" href="#">Link</a>-->
        <!--<a class="nav-link" href="#">Link</a>-->
        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
    <!--</nav>-->

    <nav class="nav justify-content-center">
        <a class="nav-link" routerLink="/profile">profile</a>
        <a class="nav-link" routerLink="/users">users</a>
        <a class="nav-link" routerLink="/login">login</a>
    </nav>
</header>

<main class="container">
    <router-outlet></router-outlet>
</main>

<!--<div class="navbar-fixed-bottom row-fluid">-->
<!--<div class="navbar-inner">-->
<!--<div class="container">-->
<!--asd-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="footer2 bg-success">
    <div class="container">
        ...
    </div>
</div>

<!--<div class="navbar-fixed-bottom row-fluid">-->
    <!--<div class="navbar-inner">-->
        <!--<div class="container">-->
            <!--asd-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<footer>-->
    <!--<nav>-->
        <!--<a routerLink="/">home</a>-->
        <!--<a routerLink="/users">users</a>-->
        <!--<a routerLink="/login">login</a>-->
    <!--</nav>-->
<!--</footer>-->

