<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card oh mb-0 mt-2">
                <div class="wrapper_img bg-1">
                    Картинку
                </div>
            </div>
        </div>

        <div class="col-12 mt-2 mb-2">
            <div class="alert alert-info m-0 mt-2 form-group l" data-notify="container">
                <span data-notify="message">
                    <div class="form-group">
    <input   placeholder="asdasd"         class="form-control"/>
</div>

                </span>
            </div>
        </div>

        <div class="col-12">
            <div class="card mb-0 mt-2">
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12">
                            <div>Теги:

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12">
            <div class="card mb-0 mt-2">
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12">
                            <span class="h5">Описание</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
