<ng-template [ngTemplateOutlet]="customTemplate || defaultTemplate" [ngTemplateOutletContext]="{fieldCfg: formConfig, form: form}"></ng-template>

<ng-template #defaultTemplate let-fieldCfg="fieldCfg" let-form="form">
  <form role="form">
    <ng-container [ngTemplateOutlet]="recursiveTemplate" [ngTemplateOutletContext]="{fieldCfg: fieldCfg, form: form}">
    </ng-container>
  </form>
</ng-template>


<ng-template #recursiveTemplate let-fieldCfg="fieldCfg" let-form="form">
  <details *ngFor="let field of fieldCfg.fields" style="margin-left:40px;background: rgba(0, 0, 0, 0.05);margin-right: 0;" class="row form-group" open>
    <summary></summary>
    <label class="col-1">{{field.fieldName}}</label>
    <label class="col-2">
      <form-field [field]="field" [control]="form.controls[field.fieldName]" (buttonClicked)="onClick($event)"></form-field>
    </label>
    <ng-container *ngIf="field.fields" [ngTemplateOutlet]="recursiveTemplate" [ngTemplateOutletContext]="{fieldCfg: field, form: form.controls[field.fieldName]}"></ng-container>
  </details>
</ng-template>

